In [1]:
import h5py as h5
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
%matplotlib inline

:0: FutureWarning: IPython widgets are experimental and may change in the future.

In [2]:
#Manually changed file names to have pattern

path = '~/Desktop/IRI Yogurt/demos trips external 1_11 may13/'

for i in range(1,12):
    meta_df = pd.read_csv(path+'ads demo'+str(i)+'.csv')
    try:
        df = pd.concat([df,meta_df])
    except:
        df = meta_df

In [3]:
df.head()

,ALL_TVS,Age Group Applied to Female HH,Age Group Applied to Household Head,Age Group Applied to Male HH,CABL_TVS,COUNTY,Children Group Code,Combined Pre-Tax Income of HH,EXT_FACT,Education Level Reached by Female HH,...,Occupation Code of Male HH,Panelist ID,Panelist Type,RACE2,RACE3,Type of Residential Possession,Year,ZIPCODE,device_type,market based upon zipcode
0,NaN,6,NaN,6,NaN,NaN,8,3,NaN,3,...,10,1100016,6,NaN,NaN,2,1.0,NaN,NaN,NaN
1,NaN,5,NaN,7,NaN,NaN,3,5,NaN,7,...,11,1100032,0,NaN,NaN,2,1.0,NaN,NaN,NaN
2,NaN,6,NaN,6,NaN,NaN,8,8,NaN,6,...,10,1100057,0,NaN,NaN,2,1.0,NaN,NaN,NaN
3,NaN,6,NaN,6,NaN,NaN,8,7,NaN,4,...,10,1100156,6,NaN,NaN,2,1.0,NaN,NaN,NaN
4,NaN,6,NaN,6,NaN,NaN,8,10,NaN,4,...,1,1100164,0,NaN,NaN,2,1.0,NaN,NaN,NaN

In [4]:
panel_df = pd.read_hdf('/home/sadat/Documents/DSE/Data/yogurt.h5', key='panel')
panel_df['Panelist ID']=panel_df['PANID']
panel_df.head()

,COLUPC,DOLLARS,IRI_KEY,MINUTE,OUTLET,PANID,UNITS,WEEK,file,Panelist ID
0,17047000300,0.99,1097117,5068.0,DK,3138826,1.0,1514,yogurt_PANEL_DK_1479_1530.DAT,3138826
1,17047000302,0.89,1097117,2224.0,DK,3138826,1.0,1489,yogurt_PANEL_DK_1479_1530.DAT,3138826
2,17047000650,0.89,1097117,6551.0,DK,3138826,1.0,1488,yogurt_PANEL_DK_1479_1530.DAT,3138826
3,17047000650,2.97,1097117,6177.0,DK,3182048,3.0,1526,yogurt_PANEL_DK_1479_1530.DAT,3182048
4,17047001372,1.49,1097117,973.0,DK,3184911,1.0,1495,yogurt_PANEL_DK_1479_1530.DAT,3184911

In [5]:
df = df.join(panel_df, on='Panelist ID', lsuffix='l',how='inner')

In [6]:
df.head()

Empty DataFrame
Columns: [ALL_TVS, Age Group Applied to Female HH, Age Group Applied to Household Head, Age Group Applied to Male HH, CABL_TVS, COUNTY, Children Group Code, Combined Pre-Tax Income of HH, EXT_FACT, Education Level Reached by Female HH, Education Level Reached by Household Head, Education Level Reached by Male HH, FEM_SMOKE, FIPSCODE, Family Size, Female Working Hour Code, HH Head Race (RACE2), HH Head Race (RACE3), HH_AGE, HH_EDU, HH_LANG, HH_OCC, HH_RACE, HISP_CAT, HISP_FLAG, Hispanic Flag, Household Head Race, IRI Geography Number, Language, MALE_SMOKE, MICROWAVE, Male Working Hour Code, Marital Status, Microwave Owned by HH, Number of Cats, Number of Dogs, Number of TVs Hooked to Cable, Number of TVs Used by HH, Occupation Code of Female HH, Occupation Code of Household Head, Occupation Code of Male HH, Panelist IDl, Panelist Type, RACE2, RACE3, Type of Residential Possession, Year, ZIPCODE, device_type, market based upon zipcode, COLUPC, DOLLARS, IRI_KEY, MINUTE, OUTLET, PANID, UNITS, WEEK, file, Panelist ID]
Index: []

[0 rows x 60 columns]